<div class="container mt-4">
  <div class="form-container w-100 px-4 py-4 mx-auto">   
    <h1>Cambiar Privacidad</h1>
    <form [formGroup]="privacidadForm" (ngSubmit)="onSubmit()">      
      <!-- Select -->
      <label for="nota">Selecciona una nota:</label>
      <select name="nota" id="nota">
        <option value="">-- Selecciona --</option>
      </select>
      <br><br>
      <label>
      <input type="checkbox" name="Privado" value="Privado" formControlName="Privado">
        Privado
      </label>
    </form>
        

  </div>
</div>   