# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo

# Firebase
firebase-credentials.json
**/firebase-credentials.json
*-firebase-adminsdk-*.json
appsettings.Development.json
firebase-credentials.json