<div class="container-fluid mt-4">
  <div class="form-container w-100 px-4 py-4 mx-auto">
      <!-- Popup de recordatorios -->
      <div *ngIf="showAlert" class="custom-alert mb-3">
          <p><strong>Recordatorios pendientes:</strong></p>
          <pre>{{ alertMessage }}</pre>
          <button class="btn btn-primary" (click)="showAlert = false">Aceptar</button>
      </div>

        <h1 class="text-center mb-4 titulo-principal">Iniciar Sesión</h1>

        <form [formGroup]="sesionForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="mb-3">
              <label class="form-label label-naranja">Nombre de usuario:</label>
              <input class="form-control" type="text" formControlName="nick" />
              <div class="alert alert-danger mt-2" *ngIf="nick?.invalid && nick?.touched">
                El Nickname es obligatorio
              </div>
            </div>
          </div>    

          <div class="row">
            <div class="mb-3">
              <label class="form-label label-naranja">Contraseña:</label>
              <input class="form-control" type="password" formControlName="pass" />
              <div class="alert alert-danger mt-2" *ngIf="pass?.invalid && pass?.touched">
                El password es obligatorio
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="mb-3">
              <label class="form-label label-naranja">Repite Contraseña:</label>
              <input class="form-control" type="password" formControlName="repeatpass" />
              <div class="alert alert-danger mt-2" *ngIf="repeatpass?.invalid && repeatpass?.touched">
                El password es obligatorio
              </div>
              <div class="alert alert-danger mt-2" *ngIf="(sesionForm.get('pass')?.value != sesionForm.get('repeatpass')?.value)&&(repeatpass?.touched)">
                Las contraseñas no coinciden
              </div>
            </div>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-light fw-bold" [disabled]="!sesionForm.valid">INICIAR SESIÓN</button>
          </div>
        </form>
      </div>
    </div>