<div class="sidebar">
  <!-- Búsqueda de amigos -->
  <div class="busqueda">
    <h6>Buscar Usuarios</h6>
  <input type="text" [(ngModel)]="busqueda" (ngModelChange)="onBuscarCambio($event)" placeholder="Buscar Usuario..." />
  
  <ul *ngIf="usuarios.length > 0">
    <li *ngFor="let u of usuarios" (click)="enviarSolicitud(u.nick)" class="usuario-buscado">
      <img *ngIf="u.rutaAvatar" [src]="u.rutaAvatar" alt="avatar" class="avatar-Buscador" />
      <span>{{ u.nick }}</span>
    </li>
  </ul>
</div>

  <!-- Lista de amigos -->
  <div class="amigos">
  <h6>Amigos</h6>
  <a *ngFor="let amigo of amigosFiltrados()"
     class="amigo"
     (click)="verPerfilAmigo(amigo.nick)"
     style="cursor:pointer; display: flex; align-items: center; text-decoration: none; color: inherit;">
    <img [src]="amigo.rutaAvatar" alt="avatar" class="avatar-img" />
    <span>{{ amigo.nick }}</span>
  </a>
</div>

  <!-- ide.component.html -->
<!-- <div *ngFor="let item of ides">
  <h3>{{ item.ide }}</h3>
  <img [src]="item.image" width="200" alt="{{ item.ide }}">
</div> -->

  <!-- Solicitudes de amistad (no muestra logo)-->
  <div class="solicitudes">
    <h6>Solicitudes</h6>
    <!-- Mostrar mensaje si no hay solicitudes -->
  <p *ngIf="solicitudes.length === 0" class="mensaje-vacio">No hay solicitudes pendientes.</p>
    <li *ngFor="let solicitud of solicitudes">
       <img *ngIf="solicitud.rutaAvatar" [src]="solicitud.rutaAvatar" alt="avatar" class="solicitudes-img" />
      {{ solicitud.solicitante }}
        <button class="btn btn-success btn-sm ms-2" (click)="aceptarSolicitud(solicitud)">✔</button>
        <button class="btn btn-danger btn-sm ms-1" (click)="rechazarSolicitud(solicitud)">✖</button>
    </li>
  </div>

  <!-- Calendario -->
  <div class="calendario">
    <app-calendario></app-calendario>
  </div>
</div>
