.navbar {
  background-color: #f7941d;
  color: black;
  padding: 1rem 1rem; // espacio arriba/abajo y a los lados
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // sombra del header
}

.navbar-brand button {
  font-size: 2rem;
  background: none;
  border: none;
  color: #FFD9AB;
  font-weight: bold;  // ← agregamos esto
  font-size: 40px;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease;

  &:hover {
    color: #FFD9AB;
    transform: scale(1.1);
  }
  
}

.navbar .btn {
  font-weight: bold;
  font-size: 1rem;
}

.navbar .btn-outline-light {
  border-color: #f7941d;
  color: white;
  transition: all 0.3s ease;

  &:hover {
    color: #f7941d;
    background-color: #FFD9AB;
    transform: scale(1.1);
  }
}