<div class="container-fluid">
  <div class="form-container w-100 px-4 py-4 mx-auto">   
    <div *ngIf="showAlert" class="custom-alert mb-3">
      <p><strong>localhost:4200 dice</strong><br>{{ alertMessage }}</p>
      <button (click)="showAlert = false">Aceptar</button>
    </div>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <h1>Crear un nuevo Post</h1>

      <!-- Contenido del post -->
      <label for="contenido">Contenido:</label><br>
      <textarea 
        id="contenido" 
        rows="5" 
        cols="150" 
        placeholder="Escribe tu nota aquí..." 
        formControlName="contenido"
        name="contenido"
        class="nota-contenido"
      ></textarea>
      <div class="alert alert-danger mt-2" *ngIf="contenido?.invalid && contenido?.touched">
                El texto es obligatorio
      </div>
      <br><br>

      <!-- Privacidad -->
      <label for="privado">
        <input 
          type="checkbox" 
          id="privado" 
          formControlName="privado"
        >
        Marcar como privado
      </label>
      <br><br>
      <!-- Tags-->
      <label for="tags">Tags (separados por comas):</label><br>
      <input 
        type="text" 
        id="tags" 
        formControlName="tags"
        placeholder="Ejemplo: trabajo, personal, urgente"
      >
      <div class="alert alert-danger mt-2" *ngIf="tags?.invalid && tags?.touched">
        Los tags son obligatorios
      </div>
      <br><br>

     <!-- Checkbox para activar recordatorio -->
      <label>
        <input type="checkbox" formControlName="usarRecordatorio">
        ¿Agregar recordatorio?
      </label>
      <br><br>

      <!-- Solo muestra el input si usarRecordatorio es true -->
      <div *ngIf="postForm.get('usarRecordatorio')?.value">
        <label for="recordatorio">Fecha de recordatorio:</label><br>
        <input 
          type="datetime-local" 
          id="recordatorio" 
          formControlName="recordatorio"
          [required]="postForm.get('usarRecordatorio')?.value"
        >
        <div class="alert alert-danger mt-2" *ngIf="recordatorio?.invalid && recordatorio?.touched">
          La fecha y hora de recordatorio es obligatoria
        </div>
        <br><br>
      </div>

      <!-- Selección de fondo -->
      <p>Elige un fondo para tu nota:</p>
      <div *ngFor="let color of ColorFondo" class="fondo-option">
        <input 
          type="radio" 
          [id]="'fondo' + color.id" 
          [value]="color.id" 
          formControlName="fondo"
        >
        <label [for]="'fondo' + color.id" style="display: flex; align-items: center; gap: 8px;">
          <img [src]="color.rutaImagen" alt="fondo" style="width: 100px; height: 100px; border-radius: 4px;">
        </label>
      </div>

      <!-- Botón de envío -->
      <div class="text-center mt-4">
        <button type="submit" class="crearPost">CREAR POST</button>
      </div>
    </form>
  </div>
</div>
